apiVersion: backstage.io/v1alpha1
kind: Component
metadata:
  name: {{type_name}}-{{layer_name}}-{{component_name}}
  title: {{component_title}}
  description: {{component_description}}
  tags:
    - hexagonal-architecture
    - {{layer_name}}-layer
    {{#is_webflux}}
    - reactive
    - webflux
    {{/is_webflux}}
spec:
  type: library
  lifecycle: production
  owner: platform-team
  subcomponentOf: component:default/{{type_name}}-{{layer_name}}-layer
