spring:
  application:
    name: {{project.general.name}}
  profiles:
    active: local
  datasource:
    url: jdbc:{{database.sgbd}}://localhost:{{database.port}}/{{project.general.name}}_db
    username: {{database.username}}
    password: {{database.password}}
    driver-class-name: {{database.driverClassName}}
  jpa:
    database-platform: {{database.hibernateDialect}}
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: {{server.port}}

logging:
  level:
    {{params.basePackage}}: DEBUG
    org.springframework.security: DEBUG

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    try-it-out-enabled: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always